body {
  text-align: center;
  background-color: lightgrey;
  font-family: "B612", sans-serif;
}
div {
  padding: 0 20%;
}
a {
  color: blue;
}
h1 {
  color: black;
}
h2 {
  color: black;
}
h3 {
  color: black;
  text-decoration: underline;
}
ul {
  list-style-position: inside;
}
.buttonClass {
  background-color: blue;
}
li {
  margin-left: -35px;
}
img {
  max-width: 80%;
}
button {
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid;
}
button:hover {
  cursor: pointer;
}
